<!DOCTYPE html>
<html lang='en-GB'>
<head>
<title>Pizza Shop</title>
<meta charset='utf-8'>
<link rel='stylesheet' href='/style.css'>

  <title>Pizza Shop</title>
</head>
<body>
<nav>
<ul>
<li><a href="/pizzas">All Pizza Orders</a></li>
<li><a href="/pizzas/new">New Orders</a></li>
</ul>
</nav>
  <%= yield %>
</body>
</html>
