body {
background-color: steelblue;

}

a {
  color: darkslategrey;
  font-family: "Lucida Console", Monaco, monospace ;
}


h2 {
color: springgreen;
font-family: "Lucida Console", Monaco, monospace ;

}

p {
  padding-top: 0.5em;
color: firebrick;
font-family: "Lucida Console", Monaco, monospace ;

}

ul {
    background: lightblue;
    margin: 0.75em;
    margin-bottom: 1.5em;
    padding: 0;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace ;

}

nav {
  background: lightblue;
  display: inline-block;
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-bottom: 0.25em;
  word-spacing: -0.25em;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace ;
}

li{
    list-style-type: none;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-bottom: 0.25em;
    word-spacing: -0.25em;
    text-align: left;
    font-family: "Lucida Console", Monaco, monospace ;

}

hr {
  border-color: lightblue;
  font-family: "Lucida Console", Monaco, monospace ;

}

form {
  color: firebrick;
  font-family: "Lucida Console", Monaco, monospace ;

}

input {
  width: 12em;
  background-color: azure;
  font-family: "Lucida Console", Monaco, monospace ;
  color: firebrick;

}

option {
  background-color: azure;
}

